<div class="container">
  <!--ユーザー名-->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= link_to user_path(@post.user_id), class: "text-dark" do %>
        <span><i class="fas fa-user"></i> <%= @post.user.name %></span>
      <% end %>
    </div>
  </div>
  <!--本のイメージ-->
  <div class="row">
    <div class="border col-md-6 text-center mx-auto">
      <%= image_tag @post.get_image_book, style:"padding: 0; height:300px; width: 200px" %>
    </div>
  </div>
    <!--タイトル-->
  <div class="row">
    <div class="border col-md-6 mx-auto">
      <h4><%= @post.title %></h4>
    </div>
  </div>
  <!--本文-->
  <div class="row">
    <div class="border col-md-6 mx-auto">
      <p><%= @post.body %></p>
    </div>
  </div>
  <!--いいね-->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <% if @post.favorited_by?(current_user) %>
      <p>
        <%= link_to post_favorites_path(@post), method: :delete do %>
          ♥<%= @post.favorites.count %> いいね
        <% end %>
      </p>
       <% else %>
      <p>
        <%= link_to post_favorites_path(@post), method: :post do %>
          ♡<%= @post.favorites.count %> いいね
        <% end %>
       <% end %>
       <div class="text-align: raight">
        <% @post_tags.each do |tag| %>
        <i class="fas fa-tag"></i>
         <%=tag.tag_name%><%="(#{tag.posts.count})" %>
        <% end %>
       </div>
      </p>
    </div>
  </div>
   <!--コメント-->
   <div class="row">
      <div class="col-md-6 mx-auto">
       <% @post.comments.each do |comment| %>
       <div>
          <%= comment.post_comment %>
        <% if comment.user == current_user %>
          <%= link_to "コメント削除", post_comment_path(comment.post, comment), method: :delete %>
        <% end %>
       </div>
       <% end %>
      </div>
    </div>
    <div class="row">
     <div class="form-group col-md-6 mx-auto">
        <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :post_comment, rows: '3', cols: '70', placeholder: "コメントをここに" %>
        <button class="btn btn-info" type="submit">コメントする</button>
        <% end %>
     </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 mx-auto">
      <% if @post.user == current_user %>
      <%= link_to edit_post_path(@post) do %>
        <button class="btn btn-success" type="submit">編集する</button>
      <% end %>
      <%= link_to post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
      <button class="btn btn-danger" type="submit">削除する</button>
      <% end %>
      <% end %>
      </div>
    </div>
</div>
