<div class="container">
 <div class="row">
  <body class="text-center">
   <main class="form-signin w-100 m-auto">
     <h1 class="h3 mb-3 fw-normal">管理者ログイン</h1>
       <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
        <div class="mb-3">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="mb-3">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div class="mb-3">
          <button class="btn btn-lg btn-primary" type="submit">ログイン</button>
        </div>
      <% end %>
    </main>
   </body>
  </div>
 </div>