<div class="container">
  <div class="row">
  <body class="text-center">
   <main class="form-signin w-100 m-auto">
   <h3 class="mb-3 fw-normal">新規会員登録</h3>

 <%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-group row">
  <div class="col-md-3"></div>
  <%= f.label :ニックネーム, class: "col-md-2" %>
  <%= f.text_field :name, class: "col-md-3" %>
  </div>

  <div class="form-group row">
    <div class="col-md-3"></div>
    <%= f.label :メールアドレス, class: "col-md-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-3" %>
  </div>

    <div class="form-group row">
      <div class="col-md-2"></div>
      <div class="col-md-3">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
      </div>
    <%= f.password_field :password, autocomplete: "new-password", class: "col-md-3" %>
  </div>

  <div class="form-group row">
    <div class="col-md-3"></div>
    <%= f.label :パスワード確認, class: "col-md-2" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-md-3" %>
  </div>

  <div class="actions">
    <button class="btn btn-lg btn-primary" type="submit">新規会員登録</button>
  </div>
<% end %>
 </main>
<%= render "public/shared/links" %>
</body>
</div>
</div>
