<div class="container">
 <div class="row">
  <body class="text-center">
   <main class="form-signin w-100 m-auto">
     <h1 class="h3 mb-3 fw-normal">ログイン</h1>
      <form>
       <%= form_with model: @user, url: user_session_path do |f| %>
        <div class="mb-3">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="mb-3">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="mb-3">
          <button class="w-100 btn btn-lg btn-primary" type="submit">ログイン</button>
        </div>
      <% end %>
    </form>
  </main>

  <%= render "public/shared/links" %>
  </body>
 </div>
</div>