<div class="container">
 <div class="row">
  <body class="text-center">
   <main class="form-signin w-100 m-auto">
     <h3 class="mb-3 fw-normal">ログイン</h3>
       <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="form-group">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div class="mb-3">
          <button class="btn btn-lg btn-primary" type="submit">ログイン</button>
        </div>
      <% end %>
  </main>
  <%= render "public/shared/links" %>
  </body>
 </div>
</div>