<!DOCTYPE html>
<html>
  <head>
    <title>SuruKou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand">
         <%= link_to 'ホーム',root_path, class: 'nav-link text-white' %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav mr-auto mb-2 mb-md-0">
        <!--管理者がログインしているとき-->
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to '投稿一覧', admin_posts_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to '会員一覧', admin_users_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>
        <!--会員がログインしているとき-->
        <% elsif user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to '新規投稿する', new_post_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'お気に入り一覧', favorites_user_path(current_user.id), class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>
            <%= form_with url: search_path, method: :get, class: "form-inline my-2 my-lg-0", local: :true do |f| %>
                <%= f.text_field :word, placeholder: "検索...", class: "form-control" %>
                <%= f.select :range, options_for_select([['User'], ['Post']]) %>
                <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]), class: 'form-control me-2' %>
                <%= f.submit "検索", class: "btn btn-outline-success flex-shrink-0" %>
            <% end %>
          <% else %>
           <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "管理者ログイン", new_admin_session_path, class: 'nav-link text-white' %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    </header>
    <main class="inner">
      <%= yield %>
    </main>
    <footer class="bg-dark text-white py-2 mb-0">
      <div class="text-center">
        2022 する考
      </div>
    </footer>
  </div>
</body>
</html>
